<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Form</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</head>

<body>
  <div id="global">
    <br>
    <div style="margin-left:3%">

      <h3>Captcha Verification : </h3>
      <br>
      <h4>{{question}}</h4>
      <br>
      <hr>
      <span style="color: #4DAF7C; font-weight: 400; font-family: 'Open Sans', Helvetica;	">Draw your answer inside this
        Box!</span>
      <br>
      <br>
    </div>
    <canvas id="canvas"
      style="border:8px solid; float: left; margin: 70px; margin-top:0px;  border-radius: 5px; cursor: crosshair; touch-action: none;"></canvas>
    <div id="debug" style="margin:65px; margin-top:100px;">

      <input type="button" id="clearButton" value="Clear Canvas" class="btn btn-primary">
      <br />

      <br />
      <a href="#" class="myButton"><span class="btn btn-success"
          style=" font-weight: 400; font-family: 'Open Sans', Helvetica;"> Submit </span></a>
      <br />

    </div>

  </div>

  <h3 id="result" style="font-family:  'Lucida Sans Unicode'; margin-left:4%; margin-top: 5%">
  </h3>
  <br>
  <div id="result2" style="font-family:  'Lucida Sans Unicode'; margin-left:4%; margin-top: 2%">
    <span>
      <br>
    </span>
  </div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

  <script src="{{url_for('static', filename='index.js')}}"></script>

  <script type="text/javascript">
    $(".myButton").click(function () {
      var $SCRIPT_ROOT = {{ request.script_root| tojson | safe
    }};
    var canvasObj = document.getElementById("canvas");
    var img = canvasObj.toDataURL();
    // console.log(img)
    $.ajax({
      type: "POST",
      url: $SCRIPT_ROOT + "/predict/",
      data: img,
      success: function (data) {
        $("#global").empty();
        $("#result").text("CAPTCHA verification : " + data);
        var link = $("<a>");
        link.attr("href", "/");
        link.attr("title", "Home");
        link.text("Go to form page.");
        link.addClass("link");

        $("#result2").html(link);

        $("#hiddenButton").show();
      }
    });
	   		});
  </script>

</body>

</html>